.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.3);
}

.menu-wrap a {
    color: #fff;
}

.top-menu {
    display: flex;
    align-items: center;
}

.top-menu ul {
    display: flex;
}

.top-menu ul li a {
    position: relative;
    display: block;
    font-size: 1.4rem;
    padding: 0.4rem 1.2rem;
}

.top-menu ul li a::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height:50%;
    background-color: green;
}

.top-menu ul li:last-child a::after {
    display: none;
}

.top-menu .search a {
    display: block;
    padding:0.8rem;
    border: 1px solid #efefef;
    border-radius: 0.4rem;
    background-color: #fff;
}

.main-menu {
    margin-top: 1.2rem;
}

.main-menu ul {
    display: flex;
}

.main-menu ul li a  {
    display: block;
    padding: 10px;
    font-size: 1.8rem;
    padding: 0.8rem 1.2rem 2.4rem;
    background-color: transparent;
}

.main-menu ul li a:hover {
    color: green;
    background-color: rgba(0,0,0,0.8);
}

.mobile-menu {
    display: none;
}

@media all and (max-width: 960px) {
    .header-wrap {
        padding: 1.6rem 2.4rem;
    }
    .header-wrap .logo img {
        width: 6rem;
    }
    .top-menu, .main-menu {
        display: none;
    }
    .mobile-menu {
        display: block;
    }
    .mobile-menu-header {
        display: flex;
        align-items: center;
    }

    .mobile-menu-header a {
        display: block;
        padding: 1.2rem;
    }

    .mobile-menu-header a img {
        width: 2.4rem;
    }

    .mobile-menu .menu {
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        display: none;
        background-color:rgba(0,0,0,0.3)
    }

    .mobile-menu .menu .menu-close {
        position: absolute;
        top: 1.2rem;
        left: -3.6rem;
    }
}